.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-ellipsis-all * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group.space-items .list-group-item  {
    margin-bottom: 4px;
}

.list-group .list-group-item a.block {
    display: block;
}
.list-group .list-group-item a.inline {
    display: inline;
}
/*
.list-group .list-group-item * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
.list-group .list-group-item > a:hover {
    text-decoration: none;
}

.list-group .list-group-item:hover {
    background-color: #f5f5f5;
    /*cursor: pointer;*/
}

.list-group .list-group-item .btn-group {
    z-index: 100;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.list-group .list-group-item .btn-group .btn {
    height: 100%;
}

.list-group .list-group-item .btn-group .btn {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.list-group .list-group-item .btn-group .btn > .glyphicon {
    top: 0;
}

.list-group .list-group-item:first-child {
    border-radius: 0;
}

.list-group.space-items .list-group-item:last-child,
.list-group .list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

.list-group .list-group-item:after {
    content: "";
    display: block;
    clear: both;
}

.list-group .list-group-item.flex
/*.list-group .list-group-item.person-item*/ {
    padding: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.list-group .list-group-item > .item-wrapper {
    padding: 10px 15px;
    float: none;
}

.list-group .list-group-item > .item-wrapper.pad-small {
    padding: 5px 10px;
    float: none;
}

.list-group .list-group-item > .item-wrapper.pad-xsmall {
    padding: 2px 10px;
    float: none;
}


.list-group .list-group-item.pad-small .content {
    padding: 5px 10px;
}

.list-group .list-group-item.pad-xsmall .content {
    padding: 2px 10px;
}

.list-group .list-group-item .content .text-muted,
.list-group .list-group-item .content .text-small {
    font-size: 13px ;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #f5f5f5;
}

.text-dark {
    color: black;
}

.text-bold {
    font-weight: bold;
}

.text-semi-bold {
    font-weight: 600;
}

.text-light {
    font-weight: lighter;
}

.text-inherit {
    font-size: inherit;
    line-height: inherit;
}

.list-group .list-group-item.flex .btn-group {
    float: none;
    position: static;
}

.search-form {
    display: flex;
}

.search-form > *:first-child {
    -webkit-flex: 1;
    flex: 1;
}

.search-form > * {
    width: auto;
}

.search-form .form-group { margin-bottom: 0; }

.search-form .btn,
.search-form .form-control {
    padding: 5px 8px;
    vertical-align: middle;
    height: 30px;
}
/*
.list-group .list-group-item.person-item {
    padding: 0;
}

.list-group .list-group-item.person-item > .item-wrapper {
    padding: 5px 10px;
}

.list-group .list-group-item.person-item > .item-wrapper > .person-image {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(120, 120, 120);
    margin-right: 8px;
}

.list-group .list-group-item.person-item > .item-wrapper .person-name,
.list-group .list-group-item.person-item > .item-wrapper .person-username {
    display: block;
    line-height: 1
}
*/